

<% if current_user == nil %>
  <form method='get' action='/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>

  <form method='get' action='/users/new'>
    <input type='submit' value='Sign up'>
  </form>

<% else %>
  <form method='get' action='/spaces/new'>
    <input type='submit' value='Add space'>
  </form>
<% end %>

<div class = "availability">

<h1> Check Availability</h1>

<form action='/spaces/filter' method='POST'>
  <label for='filter_from'>
    from:
    <input type='date' name='filter_from'>
  </label>
  <label for='filter_to'>
    to:
    <input type='date' name='filter_to'>
  </label>
  <input type='submit' value='Filter Spaces'>
</label>
</form>
</div>


<ul class="list" id='spaces'>

  <% @spaces.each do |space| %>
    <li>
      Name: <%= space.name %>
      Location: <%= space.location %>
      Description: <%= space.description %>
      Price Per Night: <%= space.price_per_night %>
      Available From: <%= space.available_from %>
      Available To: <%= space.available_to %>
    </li>
    <br>

  <% end %>
</ul>
