<h1> Spaces </h1>

<form action='/spaces/filter' method='POST'>
  <label for='filter_from'>
    Filter From:
    <input type='date' name='filter_from'>
  </label>
  <label for='filter_to'>
    Filter To:
    <input type='date' name='filter_to'>
  </label>
  <input type='submit' value='Filter Spaces'>
</form>

<ul id='spaces'>
  <% @spaces.each do |space| %>
    <li>
      Name: <%= space.name %>
      Location: <%= space.location %>
      Description: <%= space.description %>
      Price Per Night: <%= space.price_per_night %>
      Available From: <%= space.available_from %>
      Available To: <%= space.available_to %>
    </li>

  <% end %>
</ul>
